<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <import resource="services.xml"/>
	
    <bean id="UserServices" class="edu.unicen.surfforecaster.gwt.server.UserServicesImpl">
	    <property name="userService" ref="userService"></property>
    </bean>
    
    <bean id="SpotServices" class="edu.unicen.surfforecaster.gwt.server.SpotServicesImpl">
	    <property name="spotService" ref="spotService"></property>
	    <property name="forecastService" ref="forecastService"></property>
    </bean>
    
    <bean id="ForecastServices" class="edu.unicen.surfforecaster.gwt.server.ForecastServicesImpl">
	    <property name="forecastService" ref="forecastService"></property>
	    <property name="spotService" ref="spotService"></property>
    </bean>

</beans>