<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <import resource="services.xml"/>
	
    <bean id="ForecastCommonServices" class="edu.unicen.surfforecaster.gwt.server.ForecastCommonServicesImpl">
	    <property name="userService" ref="userService"></property>
	    <property name="spotService" ref="spotService"></property>
    </bean>

</beans>