/** Add css rules here for your application. */


/** Loading image main screen */
div#loadingDiv{
	margin: 100px 390px;
}

/** Cross button login box */
div#closeLoginBoxDiv{
	width: 250px;
	text-align:right;
}

/** Loading image panel login box */
.gwt-loadingPanelLoginBox {
	margin: 20px 70px 20px 70px
}

/** Label error style */
.gwt-Label-error {
    color: #FF0000;

}