body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #336699;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #FF9900;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	color: #FF9900;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: #FF9900;
	font-weight: bold;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
.verdana8white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.verdana8bluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000033;
	text-transform: uppercase;
}
.verdana10whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana10white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.verdana10whiteboldcaps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
}
.verdana10dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000033;
}
.verdana10dblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
}
.verdana10dblueboldcaps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000033;
	text-transform: uppercase;
}
.verdana10orangebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
}
.verdana10orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
}
.verdana10orangeboldcaps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
	text-transform: uppercase;
}
.verdana12whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana12white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.verdana12ltbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336699;
}
.verdana12dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000033;
}
.verdana12dblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
}
.verdana12orangebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
}
.verdana12orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF9900;
}
.verdana14whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana14white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.verdana14ltbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
}
.verdana14dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000033;
}
.verdana14dblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000033;
}
.verdana18whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana18dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000033;
}
.verdana18ltbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #336699;
}
.verdana24whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana24dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #000033;
}
.verdana36whitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
}
.verdana36dbluebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000033;
}

/* added by Christian 11/29/06 for reports */
.smallHeaderJCA { font-size:10px; color:#71abe5; }
.smallHeader { font-size:10px; color:#000033; }
.sectionheader_bg { background-image:url(/reports/images/header_bg.gif);background-repeat:repeat;border: 1px solid #EEEEEE;width:680px;height:24px;text-align:left; }
.sectionheader_text { color:#FFFFFF;font-size:14px;padding:3px 0 2px 5px; }
.sidenav_bg { background-image:url(/reports/images/header_bg.gif);background-repeat:repeat;border: 1px solid #EEEEEE;width:130px;height:24px;text-align:left; }
.fccenternav_bg { background-image:url(/reports/images/header_bg.gif);background-repeat:repeat;border: 1px solid #EEEEEE;width:529px;height:24px;text-align:left; }

/* added by Christian 11/29/06 for left side navigation */
a.arrow_right:link { background-image:url('/reports/navigation/surfend-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; }
a.arrow_right:visited { background-image:url('/reports/navigation/surfend-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; }
a.arrow_right:active { background-image:url('/reports/navigation/surfend-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; }
a.arrow_right:hover { background-image:url('/reports/navigation/surfend-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; color:white }

a.arrow_down:link { background-image:url('/reports/navigation/surfend-open-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; color:#dddddd; }
a.arrow_down:visited { background-image:url('/reports/navigation/surfend-open-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; color:#dddddd; }
a.arrow_down:active { background-image:url('/reports/navigation/surfend-open-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; color:#dddddd; }
a.arrow_down:hover { background-image:url('/reports/navigation/surfend-open-over.gif'); background-repeat:no-repeat; background-position:top left; padding-left:10px; color:white; }

.arrow_down_bg { background-color:#151550; }
.arrow_right_bg { background-color:#000033; }

a.linkHigh:link { font-weight:bold; color:white; }
a.linkHigh:visited { font-weight:bold; color:white; }
a.linkHigh:active { font-weight:bold; color:white; }
a.linkHigh:hover { font-weight:bold; color:#dddddd; }

a.linkNormal:link { font-weight:normal; color:#ff9900; }
a.linkNormal:visited { font-weight:normal; color:#ff9900; }
a.linkNormal:active { font-weight:normal; color:#ff9900; }
a.linkNormal:hover { font-weight:normal; color:white; }

.icon_camera { background-image:url('/reports/navigation/icon_camera.gif'); background-repeat:no-repeat; background-position:top left; padding:0 0 5px 20px; }
.icon_report { background-image:url('/reports/navigation/icon_report.gif'); background-repeat:no-repeat; background-position:top left; padding:0 0 5px 20px; }
.icon_windows { background-image:url('/reports/navigation/icon_windows.gif'); background-repeat:no-repeat; background-position:top left; padding:0 0 5px 20px; }
.icon_none { padding:0 0 5px 20px; }

/* added by Christian 04/21/08 for reports */

/* REPORT H1 */
.report-headline	{
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

/* added by JCA on 04/21/08 for global nav 3 */
a.basic:link, a.basic:active, a.basic:visited { font-weight:normal; }
a.large:link, a.large:active, a.large:visited { font-size:12px; }
.gn_wrapper { width:262px;height:90px;background-color:#336699 }
.gn_wrapper_premium { width:262px;height:90px;background-color:#000033 }
.gn_leftbox { width:155px;float:left;padding:20px 0 0 10px;text-align:center }
.gn_leftbox_premium { width:160px;float:left;padding:10px 0 0 15px;text-align:center }
.gn_rightbox { float:right;padding:10px 10px 0 10px;line-height:16px }
.gn_rightbox_premium { float:right;padding:3px 10px 0 10px;line-height:16px }
.gn_messagebox { font-size:11px;padding-bottom:2px }
.gn_toppadding { padding:8px 0 0 0 }
.gn_toppadding_small { padding:4px 0 0 0 }
.gn_username { font-size:11px }
.gn_expired { color:yellow }

/* added by JCA on 11/06/08 for footer */
#footer {
	width:990px;
	margin: 0 auto;
	background-color:#336699;
	text-align:center;
	line-height:20px;
	color:#FFFFFF;
	padding:10px 0 35px 0;
	clear:both;
}
a.footer,
a.footer:link,
a.footer:active,
a.footer:visited {
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
}
#footer_tools {
	padding-top:7px;
	padding-bottom:7px;
	border-top:#FFFFFF dotted 1px;
}
#footer_links {
	padding-top:7px;
	border-top:#FFFFFF dotted 1px;
}

/** Global Thumbs Cage **/
.gl_container {
	padding:0 10px 10px 10px;
}
.gl-thumb-cage {
	overflow:hidden;
	vertical-align: top;
	font-size:11px;
	clear:both;
}
.gl-thumb-cage h3 {
	margin:0 0 2px 0;
	padding:0
	font-size:12px;
}
.gl-thumb-cage img {
	float:left;
	margin:0 5px 10px 0;
	padding:0;
}
.gl-thumb-cage span {
	font-size:10px;
	font-weight:bold;
	color:#eeeeee;
}