/** Add css rules here for your application. */

/*****************************************************************************/
/*********************** SurfForecaster.html *********************************/
/*****************************************************************************/

/** Loading image main screen */
div#loadingDiv{
    margin: 100px 390px;
}

/** Loading text main screen */
div div#loadingTxtDiv {
        text-align:center;
        width:220px;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        font-size:9pt;
}

/*****************************************************************************/
/*********************** Button ***************************************/
/*****************************************************************************/
.gwt-HTML-gray-grad-btn-left {
	background:url("./images/gray-grad-button-up-26px-left.gif");
	float:left;
	height: 26px;
	width: 9px;
	cursor: pointer;
}

.gwt-HTML-gray-grad-btn-center{
	background:url("./images/gray-grad-button-up-26px-center.gif") repeat-x;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size:10pt;
	font-weight: bold;
	text-align:center;
    color: #FFF;
    height: 22px;
	*height: 26px; /*IE ALL VERSIONS HACK*/
	float:left;
	padding: 4px 0 0;
	cursor: pointer;
}

.gwt-HTML-gray-grad-btn-right {
	background:url("./images/gray-grad-button-up-26px-right.gif");
	float:left;
	height: 26px;
	width: 9px;
	cursor: pointer;
}

/*****************************************************************************/
/*********************** Common styles ***************************************/
/*****************************************************************************/

.gwt-Label {
    cursor:default;
}

.gwt-Label, .gwt-HyperLink, .gwt-PushButton, .gwt-ListBox, .gwt-RadioButton, .gwt-MapInfoText {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:9pt;
}

/** The main title of a section */
.gwt-Label-SectionTitle{
    font-weight:bold;
    font-size:11pt;
    margin-bottom:20px;
    color:#3366CC;
}

/** A simple title of a section*/
.gwt-Label-Title{
    font-weight:bold;
    margin-bottom:10px;
}

/** Label to describe a section */
.gwt-Label-SectionDescription{
    text-align:justify;
    margin-bottom:20px;
}

/** Label error */
.gwt-Label-error {
    color: #FF0000;
    font-weight: bold;
}

/** Label success */
.gwt-Label-success {
    color: #088A08;
    font-weight: bold;
}

/*****************************************************************************/
/*********************** ComparationViewerPanel ***************************************/
/*****************************************************************************/
.gwt-Label-SpotColor1 {
	background-color: #FF0000;
}

.gwt-Label-SpotColor2 {
	background-color: #0000FF;
}

.gwt-Label-SpotColor3 {
	background-color: #FF6600;
}

.gwt-Label-SpotColor4 {
	background-color: #006600;
}

.gwt-Label-SpotColor5 {
	background-color: #FF00FF;
}

/*****************************************************************************/
/*********************** CurrentForecastPanel ***************************************/
/*****************************************************************************/
.gwt-FlexTable-CurrentForecast {
	margin: 20px 40px 20px 0
}

.gwt-Label-CurrentForecast-Title{
	background:url("./images/gray-grad-currentforecast-title-26px.png") repeat-x;
	font-weight:bold;
    color: #FFF;
    height: 26px;
	padding-top: 5px;
}

.gwt-VerticalPanel-ForecastItem{
	margin: 10px;
	width: 100px;
}

.gwt-Label-ForecastItem-Title{
	font-weight:bold;
}

.gwt-Label-ForecastItem-Value{
	font-weight:bold;
	font-size:22pt;
	color:#3366CC;
}

/*****************************************************************************/
/*********************** ErrorPanel ***************************************/
/*****************************************************************************/

.gwt-errorsPanel{
    background-color:#F6CECE;
    border: solid 2px #FF0000;
}

/*****************************************************************************/
/*********************** LoginBox ***************************************/
/*****************************************************************************/

.gwt-DialogBox .Caption {
     font-family: 'Trebuchet MS', Helvetica, sans-serif;
     font-size:9pt;
     font-weight:bold;
}

gwt-LoginBox{
	z-index:99;
}

/** Cross button login box */
div#closeLoginBoxDiv{
	width: 250px;
	text-align:right;
}

div#closeLoginBoxDiv a{
	font-weight:bold;
        font-size:12pt;
        cursor:pointer;
}

/** Loading image panel login box */
.gwt-loadingPanelLoginBox {
	margin: 20px 70px 20px 70px
}

/*****************************************************************************/
/*********************** MapPanel ***************************************/
/*****************************************************************************/

.gwt-MapInfoTitle {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:11pt;
    font-weight:bold;
    color: #3366CC;
}

/*****************************************************************************/
/*********************** MiniForecastPopup ***************************************/
/****************************************************************************/
.gwt-Label-MiniForecast-Title{
	background:url("./images/gray-grad-currentforecast-title-26px.png") repeat-x;
	font-weight:bold;
    color: #FFF;
    height: 13px;
	padding-top: 2px;
}

.gwt-Label-MiniForecastItem-Value{
	font-weight:bold;
	font-size:16pt;
	color:#3366CC;
}

/*****************************************************************************/
/*********************** RegisterUserPanel ***************************************/
/*****************************************************************************/



/*****************************************************************************/
/*********************** SuccessPanel ***************************************/
/*****************************************************************************/

.gwt-successPanel{
    background-color: #A9F5A9;
    border: solid 2px #088A08;
}

/*****************************************************************************/
/*********************** SurfForecaster.java *********************************/
/*****************************************************************************/

/** RootPanel */
.gwt-RootPanel{
    background-color:#A2ACA1;
}

/** RootVPanel */
.gwt-RootVPanel{
    background-color:#FFF;
    padding: 0 10px 0 10px;
}

/*****************************************************************************/
/*********************** TransparentPanel ***************************************/
/*****************************************************************************/
.gwt-PopupPanel-Transparent{
	/* Override glass panel color to be `green` */
    background-color: black !important;

    /* Override glass panel to 10% opacity (= 90% transparency) */
    filter: alpha(opacity = 60) !important; /* IE */
    opacity: 0.6 !important; /* non-IE */
	
    /*
      NOTE: Please do NOT use either CSS 'width' or 'height' here, as
      this would defeat much of the effort that went into GlassPanel
      in order to get it to work consistently in a variety of
      circumstances. Specifically, please resist the urge to use
      'width/height: 100%' or similar constructs.
    */
}

/*****************************************************************************/
/*********************** UserStatePanel ***************************************/
/*****************************************************************************/

/** Label username */
.gwt-Label-Username{
    font-weight:bold;
}

/** Link register */
.gwt-HyperLink-register{
    font-weight:bold;
}

/*****************************************************************************/
/*********************** WgTableB ***************************************/
/*****************************************************************************/
.gwt-FlexTable-WgTableB{
	margin-bottom: 35px;
}

.gwt-Label-Forecaster-Name{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight:bold;
    font-size:10pt;
}

.gwt-Label-TableLabels{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight:bold;
    font-size:9pt;
}

.gwt-HyperLink-showMoreLess a{
    font-weight:bold;
    font-size:10pt;
    text-decoration:none;
}

.gwt-FlexTable-datesTable{
    background:url("./images/gray-grad-forecast-table-dates-62px.png") repeat-x;
}

.gwt-FlexTable-datesTable .gwt-Label{
    font-weight:bold;
    color: #FFF;
}

.gwt-ForecasterName-Row{
    background-color:silver;
}

.gwt-flextable-detailedForecast-col{
    overflow:hidden;
}