#noLinkItem, #noLinkItem:visited {
	cursor:arrow;
}

#navmenu_menubar {
	height:24px;
	width:990px;
	letter-spacing:0px;
	background:#000033;
	display:none;
}

#navmenu_endcap {
	padding-top:1px;
	background-image:url(/include/header/images/cap_darkblue_bottom_right.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	display:none;
}
.nav_separator-bar-solid { margin:6px 0 4px 0;border-width:0 0 1px 0;border-style:solid;border-color:#6489AE;font-size:1px;display:none;}

.navmenu_title_sub, .navmenu_title { font-size:9px;font-family:verdana;font-weight:bold;color:white;display:none; }
.navmenu_title_sub { color:#dddddd }

.navmenu_pad { padding-top:4px }

.navmenu_login_div {
	display: none;
	padding: 0 0 5px 0;
	width:990px;
	text-align:left;
	height:36px;
	background-color:#000066;
	display:none;
}